<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Miso.SearchForms.AzureSearch.ServiceName" value="misoforms" />
    <add key="Miso.SearchForms.AzureSearch.APIKey" value="492350877B3A42F9087F140C5A36FE3E" />
    <add key="Miso.SearchForms.AzureSearch.IndexName" value="realestate-us-sample" />
  </appSettings>
</configuration>